<%= form_with(model: @dashboard, local: true) do |form| %>
  <!-- Other fields for user -->

  <div class="field">
    <%= form.label :profile_picture %>
    <%= form.file_field :profile_picture %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
