<h1>Dashboard#index</h1>
<p>Hi <%=current_user.role%> Welcome to dashboard</p>


<h2>Audit Log</h2>
<table>
  <thead>
    <tr>
      <th>Action</th>
      <th>Created At</th>
      <th>Changes</th>
    </tr>
  </thead>
  <tbody>
    <% @audits.each do |audit| %>
      <tr>
        <td><%= audit.action %></td>
        <td><%= audit.created_at %></td>
        <td><%= audit.audited_changes.to_json %></td>
      </tr>
    <% end %>
  </tbody>
</table>
