<%=@article.title%>
<%= image_tag @article.image %>

<% if @article.image.attached? %>
  <%= link_to "Download Resume", rails_blob_path(@article.image, disposition: "attachment") %>
<% else %>
  <p>No resume uploaded.</p>
<% end %>

<% if @article.image.attached? %>
  <iframe src="<%= url_for(@article.image) %>" width="600" height="500"></iframe>
<% else %>
  <p>No resume uploaded.</p>
<% end %>

