


<%= form_with model: @user do |f|%>
  <div class="field">
    <%= f.label :profile_picture %>
    <%= f.file_field :profile_picture %>
  </div>



  <div class="field">
    <%= f.submit %>
  </div>
<% end %>
